<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095060398386-3vhb5qi63un42kpms1b10tgpice4m1b2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095060398386-3vhb5qi63un42kpms1b10tgpice4m1b2</string>
	<key>API_KEY</key>
	<string>AIzaSyDSz1Oktv3yZP94rPDxQYSOyKdJMHzF1i8</string>
	<key>GCM_SENDER_ID</key>
	<string>1095060398386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>im.ureca.siHicoachFe</string>
	<key>PROJECT_ID</key>
	<string>hicoach-test</string>
	<key>STORAGE_BUCKET</key>
	<string>hicoach-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095060398386:ios:80da46acbdd559ddc8f72b</string>
</dict>
</plist>